#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFIGFILE="/etc/default/atftpd"

opts2debconf() {
    while [ "$1" ] ; do
	case "$1" in
	    --daemon) ;;
	    --port)          db_set atftpd/port "$2"; shift ;;
	    --tftpd-timeout) db_set atftpd/tftpd-timeout "$2"; shift ;;
	    --retry-timeout) db_set atftpd/retry-timeout "$2"; shift ;;
	    --maxthread)     db_set atftpd/maxthread "$2"; shift ;;
	    --no-timeout)    db_set atftpd/timeout "false"; shift ;;
	    --no-tsize)      db_set atftpd/tsize "false"; shift ;;
	    --no-blksize)    db_set atftpd/blksize "false"; shift ;;
	    --no-windowsize) db_set atftpd/windowsize "false"; shift ;;
	    --no-multicast)  db_set atftpd/multicast "false"; shift ;;
	    --mcast-port)    db_set atftpd/mcast_port "$2"; shift ;;
	    --mcast-addr)    db_set atftpd/mcast_addr "$2"; shift ;;
	    --mcast-ttl)     db_set atftpd/ttl "$2"; shift ;;
	    --verbose=*)
		L="$(echo "$1" | cut -d= -f2-)"
		case "$L" in
		   7) L='7 (LOG_DEBUG)' ;;
		   6) L='6 (LOG_INFO)' ;;
		   5) L='5 (LOG_NOTICE)' ;;
		   4) L='4 (LOG_WARNING)' ;;
		   1) L='1 (LOG_ALERT)' ;;
		   *) L='5 (LOG_NOTICE)' ;;
		esac
		db_set atftpd/verbosity "$L"
		;;
	    --logfile)
		db_set atftpd/logtofile true
		db_set atftpd/logfile "$2"
		;;
	    /*) db_set atftpd/basedir "$1" ;;
	esac
	shift
    done
}

# Load current settings from file
if [ -f "$CONFIGFILE" ]; then
	. "$CONFIGFILE"
	opts2debconf $OPTIONS
fi

db_beginblock
db_input low atftpd/tftpd-timeout || true
db_endblock
db_go

db_beginblock
db_input low atftpd/port || true
db_input low atftpd/retry-timeout || true
db_input low atftpd/maxthread || true
db_input low atftpd/timeout || true
db_input low atftpd/tsize || true
db_input low atftpd/blksize || true
db_input low atftpd/windowsize || true
db_input low atftpd/multicast || true
db_endblock
db_go

db_get atftpd/multicast
if [ "$RET" = "true" ]; then
    db_beginblock
    db_input low atftpd/mcast_port || true
    db_input medium atftpd/mcast_addr || true
    db_input medium atftpd/ttl || true
    db_endblock
    db_go
fi

db_beginblock
db_input low atftpd/verbosity || true
db_input medium atftpd/basedir || true
db_input low atftpd/logtofile || true
db_endblock
db_go

db_get  atftpd/logtofile
if [ "$RET" = "true" ]; then
    db_beginblock
    db_input low atftpd/logfile || true
    db_endblock
    db_go
fi
